<div class="topic_container">
  <h3>トピックを投稿する</h3>
  <div class="topic_form">
    <%= form_with(model: @topic, local: true) do |form| %>
      <div class='title_field'>
        <%= form.text_field :topic_title, placeholder: "タイトル" %>
      </div>
      <div class='text_field'>
        <%= form.text_area :topic_content, placeholder: "本文", rows: "10" %>
      </div>
      <div class='topic_btn'>
        <%= form.submit "投稿" %>
      </div>
    <% end %>
  </div>
</div>